.home-page-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
margin-top: 4rem;
}
.header, .sub-header{
    display: flex;
    justify-content: center;
}

.cusine-list{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.resturantCrd{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}